<form method = "GET" action = "/shows" align="center">
  <h2>
    NAME OF SHOW: <input type="text" name="name"><br>
    TOTAL NUMBER OF SEASONS WATCHED: <input type="text" name="password">
    NUMBER OF EPISODES PER SEASON: <input type="text" name="password">
    AVERAGE LENGTH OF EPISODE: <input type="text" name="password">
  </h2>
  <input type="submit" name = "filter">
</form>
