<!doctype html>
  <head>
    <title>
      Netflix Tracker
    </title>
    <link rel = "stylesheet" href = "../css/style.css" type = "text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../imgs/favicon.ico">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../js/visualize.js"></script>
  </head>
  <body>
    <h1>
      NETFLIX TRACKER 
    </h1>
    {{{body}}}
    <br>
    <footer>
      Created by <a href="http://twitter.com/tcburning">@tcburning</a>, while watching <a href="http://netflix.com">Netflix</a>. Click <a href="/shows">here</a> to go home and <a href="/logout">here</a> to logout.
    </footer>
  </body>
</html>
