<!doctype html>
  <head>
    <title>
      Netflix Tracker
    </title>
    <link rel = "stylesheet" href = "../css/style.css" type = "text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../imgs/favicon.ico">
  </head>
  <body>
    <h1>
      NETFLIX TRACKER 
    </h1>
    {{{body}}}
  </body>
</html>
