<form method = "GET" action = "/shows" align="center">
  <h2>
    NAME: <input type="text" name="name"><br>
    PASSWORD: <input type="text" name="password">
  </h2>
  <input type="submit" name = "filter">
</form>
