<h4>{{message}}</h4>
<form method = "POST" action = "/login" align="center">
  <h2>
    NAME: <input type="text" name="username"><br>
    PASSWORD: <input type="password" name="password"><br>
    BIRTHDAY (SIX DIGITS): <input type="text" name="birthday">
  </h2>
    <input class="btn" type="submit" value="L O G I N">
</form>
