<h2>Keep track of how much of your life is spent watching Netflix.</h2><br></br>
<div class ="btn-group">
  <form method="GET" action = "/login">
    <button class="btn" type="button" name="login" value="">L O G I N</button>
    <!--<button type="submit" formmethod="post" formaction="demo_post.asp">Submit using POST</button>-->
  </form>
  <br></br>
  <form method="GET" action = "/signup">
    <button class="btn" type="button" name="signup" value ="">S I G N     U P</button>
  </form>
</div>

