<h2>Keep track of how much of your life is spent watching Netflix.</h2><br></br>
<div class ="btn-group">
  <button class="btn" type="button" name="login" value ="" onclick="window.location.href='/login'">L O G I N</button><br><br>
  <button class="btn" type="button" name="signup" value ="" onclick="window.location.href='/signup'">S I G N    U P</button>
</div>

