<div class ="btn-group">
  <form method="GET" action = "/login">
    <button class="btn" type="button" name="login" value="">LOGIN</button>
    <button type="submit" formmethod="post" formaction="demo_post.asp">Submit using POST</button>
  </form>
  <form method="GET" action = "/signup">
    <button class="btn" type="button" name="signup" value ="">SIGN UP</button>
  </form>
</div>

