<h4>
  {{#if err}}
  {{#each err.errors}}
  {{message}}<br>
  {{/each}}
  {{/if}}
</h4>
<form method = "POST" action = "/remove" align="center">
  <h2>
    Enter name of show that you would like to delete: <input type="text" name="removeShow"><br>
  </h2>
  <input class="btn" type="submit" name = "filter">
</form>
