<h3>
  <u>
    Your show stats:
  </u>
</h3>

{{#each shows}}
  <h3>
    {{title}}
    ----------------------------
  </h3>
  <h2>
    <form method = "GET" align="center">
    Percentage of your life spent on Netflix:
    <input type="text" name = "lifeNetflixPercentage"><br>
    Percentage of your life spent watching:
    <input type="text" name = "lifePercentage"><br>
    Percentage of your time on Netflix spent watching:
    <input type="text" name = "netflixPercentage"><br>
  </h2>
{{/each}}

<form method="GET" action = "/shows/add">
  <button class="btn" type="button" name="signup" value ="">A D D   S H O W</button>
</form>
