<h3>
  <u>
    Your show stats
  </u>
</h3>
<h2>
  Percentage of your life spent on Netflix:
</h2>
<h2>
  Percentage of your life spent watching:
  <form method = "POST" align="center">
  <input type="text" name = "filter">
</h2>
<h2>
  Percentage of your time on Netflix spent watching:
  <form method = "POST" align="center">
  <input type="text" name = "filter">
</h2>
<form method="GET" action = "/shows/add">
  <button class="btn" type="button" name="signup" value ="">A D D   S H O W</button>
</form>
