<h4>{{message}}</h4>
<form method = "POST" action = "/signup" align="center">
  <h2>
    ENTER NAME: <input type="text" name="username"><br>
    ENTER NEW PASSWORD: <input type="text" name="password"><br>
    ENTER BIRTHDAY (SIX DIGITS): <input type="text" name="birthday">
    <input type="submit" value="signup">
  </h2>
</form>
