<form method = "GET" action = "/shows" align="center">
  <h2>
    ENTER NAME: <input type="text" name="name"><br>
    ENTER NEW PASSWORD: <input type="text" name="password"><br>
    ENTER BIRTHDAY: <input type="text" name="birthday"><br>
  </h2>
  <input type="submit" name = "filter">
</form>
