<h4>{{message}}</h4>
<form method = "POST" action = "/signup" align="center">
  <h2>
    ENTER NAME: <input type="text" name="username"><br>
    ENTER NEW PASSWORD: <input type="text" name="password"><br>
    ENTER BIRTHDAY (SIX DIGITS): <input type="text" name="birthday">
  </h2>
  <input class="btn" type="submit" value="S I G N U P">
</form>
