<h3>{{status}}</h3>
<form method = "POST" action = "/update" align="center">
  <h2>
    TOTAL NUMBER OF SEASONS WATCHED: <input type="text" name="seasonNumber"><br>
    NUMBER OF EPISODES PER SEASON: <input type="text" name="episodeNumber"><br>
    AVERAGE LENGTH OF EPISODE (usually either 21 or 43 minutes): <input type="text" name="episodeLength"><br>
  </h2>
  <input class="btn" type="submit" name = "filter">
</form>
