<body class="viz">
  <h6>
    <div class="name">{{user.username}}</div>, here's a visualization of your Netflix usage. Care to <a href="/shows/add">add more shows</a>?
  </h6>
  <h5>
    Click <a href="/shows">here</a> to go back to shows.
  </h5>
  <!--add the netflix perentage for each show to the array that renders the visualization-->
  {{#each user.shows}}
  <div id="showLALA">{{title}}</div>
  <div id="statLALA">{{netflixPercentage}}</div>
  {{/each}}
  <div align="center">
    <div id="piechart" align="center"</div>
  </div>
  <div id="random"><h6>You should watch...</h6></div>
  <button type="button" class="btn" onclick="listRandom()">Click here for a random show suggestion.</button>
</body>
