<body class="viz">
  <h6>
    <div class="name">{{user.username}}</div>, here's a visualization of your Netflix usage. Looks like you're a big fan of {{whatever}}:
  </h6>
  <div align="center">
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </div>
</body>
