.btn,
input[type=submit] {
  background-color: #CB3625;
  border: none;
  display: block;
  font-family: 'Lato';
  font-size: 30px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 335px;
}
.btn:hover {
  background: white;
}
.name {
  color: #51D897;
  display: inline;
}
.subtitle {
  color: #C1B0DB;
}
.title {
  color: #48C3BE;
  display: inline;
}
a {
  color: #CB3625;
  text-decoration: underline;
}
a:hover {
  color: #CB3625;
}
body {
  background-color: black;
}
h1 {
  color: #CB3625;
  font-family: 'Lato';
  font-size: 80px;
  font-weight: 200;
  line-height: 20%;
  text-align: center;
}
h2 {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  word-spacing: 3px;
}
h3 {
  color: white;
  font-family: 'Lato';
  font-size: 30px;
  text-align: center;
}
h4 {
  color: yellow;
  font-family: 'Roboto';
  font-size: 25px;
  text-align: center;
  word-spacing: 3px;
}
input[type=text] {
  background-color: #CB3625;
  border: none;
  display: inline;
  font-family: 'Lato';
  font-size: 12px;
  height: 25px;
  margin: 0 auto;
  text-align: center;
}
input[type=password] {
  background-color: #CB3625;
  border: none;
  display: inline;
  font-family: 'Lato';
  font-size: 12px;
  height: 25px;
  margin: 0 auto;
  text-align: center;
}
footer {
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
  margin-top: 150px;
  text-align: center;
  word-spacing: 5px;
}
